.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 150px;
  background-color: #edc8b8;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.navbar-logo img {
  width: 200px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 60px;
}

.navbar-menu li a {
  text-decoration: none;
  color: #123d6a;
  font-weight: bold;
  font-size: 20px;
}

.navbar-login button {
  margin-left: 10px;
  width: 100px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: #ab3b61;
  color: white;
  border-radius: 5px;
  font-size: 15px;
}

.navbar-login button:hover,
.navbar-menu li a:hover {
  opacity: 0.8;
}
