.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 150px;
  background-color: rgba(255, 255, 255, 1);
  backdrop-filter: blur(1px);
  position: fixed;
  top: 0; 
  width: 100%;
  z-index: 10;
  padding-bottom: 0px;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease; 
}


.navbar.scrolled {
  background-color: #ffffff; 
  backdrop-filter: none;
}

.navbar-logo img {
  width: 200px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 60px;
}

.navbar-menu li a {
  text-decoration: none;
  color: #123d6a; 
  font-weight: bold;
  font-size: 20px;
  transition: color 0.3s ease; 
}


.navbar-login button {
  margin-left: 10px;
  width: 100px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: #ab3b61;
  color: white;
  border-radius: 5px;
  font-size: 15px;
}

.navbar.scrolled .navbar-menu li a {
  color: #123d6a;
}

.navbar-login button:hover,
.navbar-menu li a:hover {
  opacity: 0.8;
}
