html, body {
  max-height: 100vh;
}
/* -------------------------------navbar----------------------------- */

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
  background-color: transparent;
  z-index: 10;
  padding: 0px 20px;
}

.navbar.scrolled {
  background-color: #ffffff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.navbar.scrolled .navbar-menu li a {
  color:#0c3969;
  text-shadow: none;
}

  
  .navbar-logo img {
    width: 200px;
    margin-top: 5px;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    gap: 30px;
  }
  
  .navbar-menu li a {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.74);
    font-weight: bold;
    font-size: 22px;
  }
  
  .navbar-login button,  .navbar-login .navbar-button {
    margin-left: 10px;
    width: 100px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #0c3969;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .navbar-login button:hover,
  .navbar-menu li a:hover {
    opacity: 0.8;
  }
  
  /* -------------------------------hero----------------------------- */
  
  .hero {
    background-color: #eaebe8;
    padding-top: 100px;
  }
  
  .hero_content {
    position: absolute;
    top: 88%;
    left: 15%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: left;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    gap: 50px;
  }
  
  .headline {
    font-size: 3rem;
    color: #0c3969;
    text-align: center;
    max-width: 550px;
    text-shadow: 2px 2px 4px rgba(11, 13, 34, 0.5);
  }
  
  .description {
    color: #f3ecef;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
  }
  
  .button {
    background-color: #ece1dd;
    color: #ab3b61;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 40px;
    border-style: solid;
    border-color: #0c3969;
    font-size: 18px;
  }
  
  .getstarted {
    background-color: #ab3b61;
    border: 2px solid #0c3969;
    border-radius: 5px;
    box-shadow: #0c3969 4px 4px 0 0;
    color: #ede2dc;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 26px;
    padding: 0 18px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .getstarted:hover {
    background-color: #bbb2b5d8;
    color: #0c3969;
  }
  
  .getstarted:active {
    box-shadow: #0c3969 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .getstarted {
      min-width: 120px;
      padding: 0 25px;
    }
  }
  
  .video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    margin-top: -120px;
    overflow: hidden;
}

.text-block {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  text-align: center;
  padding: 125px;
  box-sizing: border-box;
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}

.text-content {
  width: 100%;
}

.top-text {
  font-weight: bold;
  color: #0c3969;
  font-size: 34px;
  margin-top: -170px; /* Move text up */
  margin-bottom: 12px; /* Space between the top and bottom lines */
}

.bottom-text {
  color: #344036;
  font-size: 20px;
  font-weight: 400;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

@media (max-width: 768px) {
  .video-container {
      padding-bottom: 75%;
  }
}

 
.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Regular weight */
  font-style: normal;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

.montserrat-italic {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Regular weight */
  font-style: italic;
}

.footer-navbar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  color: white;
  text-align: center;
  padding: 40px;
}

.scroll-down-indicator {
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: auto; 
  z-index: 11; 
  animation: bounce 2s infinite; 
  color: #0c3969;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.hide-arrow {
  opacity: 0;
  pointer-events: none;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateX(-50%) translateY(0);
  }
  40% {
      transform: translateX(-50%) translateY(-10px);
  }
  60% {
      transform: translateX(-50%) translateY(-5px);
  }
}

.about-us-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 90px 20px;
  background-color: #ffffff; 
}

.about-us-content {
  max-width: 1500px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.about-us-text {
  flex: 1;
  padding: 20px;
  margin-left: -20px; 
  max-width: 700px;
}
.about-us-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us-image img {
  max-width: 100%;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}

.about-us-heading {
  text-align: center;
    margin-bottom: -60px;
    padding: 85px;
    font-size: 34px;
  color: #0c3969;
}

.about-us-text p {
  color: #343a40;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  text-indent: 20px;
}

.footer-section {
  background-color: #0c3969;
  color: #ffffff; 
  padding: 20px; 
  text-align: center; 
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left img {
  width: 150px; 
  height: auto; 
  margin-bottom: 15px; 
}

.footer-left p {
  margin: 0; 
  font-size: 14px;
}

.footer-right {
  text-align: left;
}

.footer-right h3,
.footer-right p,
.footer-right input,
.footer-right button {
  margin-bottom: 10px; 
}

.footer-bottom {
  border-top: 1px solid #ffffff; 
  padding-top: 10px;
  margin-top: 20px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; 
}

@media (max-width: 768px) {
  .footer-content,
  .footer-bottom {
      flex-direction: column;
  }
  
  .footer-content > div {
      margin-bottom: 20px;
  }
}

.footer-right button {
  padding: 1.5px 15px; 
  background-color: #ab3b61; 
  border: none; 
  border-radius: 2px; 
  color: #ffffff; 
  font-weight: bold; 
  text-transform: uppercase; 
  letter-spacing: 1px;
  cursor: pointer; 
  transition: background-color 0.3s ease, transform 0.3s ease;
  outline: none; 
}

.footer-right button:hover {
  background-color: #bbb2b5d8;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
}

.footer-right button:focus {
  background-color: #ab3b61; 
  outline: none; 
}

.footer-right button:active {
  background-color: #ab3b61;
  transform: scale(0.98); 
}
